BODY {
    background-color: #000000 ;
}

nav ul ul {
    display:none;
}

nav ul li:hover > ul {
    display: block;
}

nav ul {
    list-style: none;
    position: relative;
    display: inline-table;
}

nav ul:after {
    content:"";
    clear: both;
    display: block;
}